<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentmanage.module.tradeimport.mapper.ImportDetailMapper">

    <resultMap id="importDetailMap" type="com.agentmanage.module.tradeimport.entity.ImportDetailPo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="VARCHAR"/>
        <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="trade_count" property="tradeCount" jdbcType="INTEGER"/>
        <result column="agent_id" property="agentId" jdbcType="INTEGER"/>
        <result column="parent_agent_id" property="parentAgentId" jdbcType="INTEGER"/>
        <result column="agent_level" property="agentLevel" jdbcType="INTEGER"/>
        <result column="log_id" property="logId" jdbcType="INTEGER"/>
        <result column="is_original" property="isOriginal" jdbcType="TINYINT"/>
        <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allColumns">
        id, merchant_name, merchant_id, trade_amount, trade_count, agent_id, parent_agent_id, agent_level, log_id,
        is_original, gmt_created, gmt_modified
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_trade_import_detail(merchant_name, merchant_id, trade_amount, trade_count, agent_id, parent_agent_id,
          agent_level, log_id, is_original, gmt_created, gmt_modified)
        values
        (
          #{merchantName, jdbcType=VARCHAR},
          #{merchantId, jdbcType=VARCHAR},
          #{tradeAmount, jdbcType=DECIMAL},
          #{tradeCount, jdbcType=INTEGER},
          #{agentId, jdbcType=INTEGER},
          #{parentAgentId, jdbcType=INTEGER},
          #{agentLevel, jdbcType=INTEGER},
          #{logId, jdbcType=INTEGER},
          #{isOriginal, jdbcType=TINYINT},
          now(),
          now()
        )
    </insert>

    <select id="selectList" resultMap="importDetailMap">
        SELECT
          <include refid="allColumns" />
        from tb_trade_import_detail
        where log_id = #{logId, jdbcType=INTEGER}
        <if test="isOriginal != null">
            and is_original = #{isOriginal, jdbcType=TINYINT}
        </if>
        order by gmt_created desc
    </select>

    <select id="selectCalcList" resultType="map">
        SELECT log_id, agent_id, agent_level, parent_agent_id, SUM(trade_amount) as sum_trade_amount, sum(trade_count) sum_trade_count
        FROM tb_trade_import_detail
        where log_id = #{logId, jdbcType=INTEGER}
        GROUP BY agent_id
    </select>

    <select id="selectCalcParentList" resultType="map">
        SELECT log_id, parent_agent_id, SUM(trade_amount) as sum_trade_amount, sum(trade_count) sum_trade_count
        FROM tb_trade_import_detail
        where log_id = #{logId, jdbcType=INTEGER}
        and agent_level = #{agentLevel, jdbcType=INTEGER}
        and is_original = 1
        GROUP BY parent_agent_id
    </select>
</mapper>