<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentmanage.module.tradeimport.mapper.ImportDetailMapper">

    <resultMap id="importDetailMap" type="com.agentmanage.module.tradeimport.entity.ImportDetailPo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="agent_name" property="agentName" jdbcType="VARCHAR"/>
        <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="trade_count" property="tradeCount" jdbcType="INTEGER"/>
        <result column="agent_id" property="agentId" jdbcType="INTEGER"/>
        <result column="log_id" property="logId" jdbcType="INTEGER"/>
        <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allColumns">
        id, agent_name, trade_amount, trade_count, agent_id, log_id, gmt_created, gmt_modified
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_trade_import_detail(agent_name, trade_amount, trade_count, agent_id, log_id, is_original, gmt_created, gmt_modified)
        values
        (
          #{agentName, jdbcType=VARCHAR},
          #{tradeAmount, jdbcType=DECIMAL},
          #{tradeCount, jdbcType=INTEGER},
          #{agentId, jdbcType=INTEGER},
          #{logId, jdbcType=INTEGER},
          #{isOriginal, jdbcType=TINYINT},
          now(),
          now()
        )
    </insert>

    <select id="selectList" resultMap="importDetailMap">
        SELECT
          <include refid="allColumns" />
        from tb_trade_import_detail
        where log_id = #{logId, jdbcType=INTEGER}
        order by gmt_created desc
    </select>

</mapper>