@charset "utf-8";

.pagination {
    height: 20px;
    float: right;
    padding: 10px 0px;
}

.pagination .curPage {
    color: #fff;
    background: #ff5307;
}

.pagination a {
    padding: 0px 5px;
    border: 1px solid #cccccc;
}