<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentmanage.module.agent.mapper.AgentInfoMapper">

    <resultMap id="agentInfoMap" type="com.agentmanage.module.agent.entity.AgentInfoPo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
        <result column="ALIPAY_NO" property="alipayNo" jdbcType="VARCHAR"/>
        <result column="AGENT_PERCENT" property="agentPercent" jdbcType="DECIMAL"/>
        <result column="PARENT_AGENT_ID" property="parentAgentId" jdbcType="INTEGER"/>
        <result column="LEVEL" property="level" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allColumns">
        id, mobile_no, real_name, merchant_id, alipay_no, agent_percent, parent_agent_id, level, user_id, gmt_created,
        gmt_modified
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_agent_info(mobile_no, real_name, merchant_id, alipay_no, agent_percent,
          level, parent_agent_id, user_id, gmt_created, gmt_modified)
        values
        (
          #{mobileNo, jdbcType=VARCHAR},
          #{realName, jdbcType=VARCHAR},
          #{merchantId, jdbcType=VARCHAR},
          #{alipayNo, jdbcType=VARCHAR},
          #{agentPercent, jdbcType=DECIMAL},
          #{level, jdbcType=INTEGER},
          #{parentAgentId, jdbcType=INTEGER},
          #{userId, jdbcType=INTEGER},
          now(),
          now()
        )
    </insert>

    <update id="update">
        update tb_agent_info
        set
          real_name = #{realName, jdbcType=VARCHAR},
          merchant_id = #{merchantId, jdbcType=VARCHAR},
          alipay_no = #{alipayNo, jdbcType=VARCHAR},
          agent_percent = #{agentPercent, jdbcType=DECIMAL},
          gmt_modified = now()
        where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="selectById" resultMap="agentInfoMap">
        SELECT
        <include refid="allColumns" />
        from tb_agent_info
        where id=#{id, jdbcType=INTEGER}
    </select>

    <select id="selectByUserId" resultMap="agentInfoMap">
        SELECT
          <include refid="allColumns" />
        from tb_agent_info
        where user_id=#{userId, jdbcType=INTEGER}
    </select>

    <select id="selectByMerchantId" resultMap="agentInfoMap">
        SELECT
        <include refid="allColumns" />
        from tb_agent_info
        where merchant_id=#{merchantId, jdbcType=VARCHAR}
    </select>

    <select id="selectSubList" resultMap="agentInfoMap">
        SELECT
        <include refid="allColumns" />
        from tb_agent_info
        where parent_agent_id=#{parentAgentId, jdbcType=INTEGER}
        order by gmt_created desc
    </select>
</mapper>