<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentmanage.module.agent.mapper.TradeRecordMapper">

    <resultMap id="tradeRecordMap" type="com.agentmanage.module.account.entity.TradeRecordPo">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="MERCHANT_ID" property="merchantId" jdbcType="VARCHAR"/>
        <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR"/>
        <result column="TRADE_COUNT" property="tradeCount" jdbcType="INTEGER"/>
        <result column="TRADE_AMOUNT" property="tradeAmount" jdbcType="DECIMAL"/>
        <result column="AGENT_PERCENT" property="agentPercent" jdbcType="DECIMAL"/>
        <result column="AGENT_AMOUNT" property="agentAmount" jdbcType="INTEGER"/>
        <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
        <result column="GMT_CREATED" property="gmtCreated" jdbcType="TIMESTAMP"/>
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="allColumns">
        id, merchant_id, merchant_name, trade_count, trade_amount, agent_percent, agent_amount, user_id, gmt_created,
        gmt_modified
    </sql>

    <insert id="insert">
        insert into tb_trade_record(merchant_id, merchant_name, trade_count, trade_amount, agent_percent, agent_amount,
            user_id, gmt_created, gmt_modified)
        values
        (
          #{merchantId, jdbcType=VARCHAR},
          #{merchantName, jdbcType=VARCHAR},
          #{tradeCount, jdbcType=INTEGER},
          #{tradeAmount, jdbcType=DECIMAL},
          #{agentPercent, jdbcType=DECIMAL},
          #{agentAmount, jdbcType=DECIMAL},
          #{userId, jdbcType=INTEGER},
          now(),
          now()
        )
    </insert>

    <select id="selectListByMerchantId" resultMap="tradeRecordMap">
        SELECT
          <include refid="allColumns" />
        from tb_trade_record
        where merchant_id=#{merchantId, jdbcType=INTEGER}
        order by gmt_created desc
    </select>
</mapper>